h3{
    color: rgb(84, 44, 136);
    text-align: center;
}

h5{
    color: rgb(27, 27, 27);
}

h6{
    padding-left: 15px;
}

ol{
    font-size: 15px;
}

body{
    background-color: aliceblue;
}

img{
    padding-left: 50px;
}