h2 {
    text-align: center;
    color: rgb(140, 250, 66);
}

body {
    background-color: aliceblue;
}

.irocho {
    text-align: right;
    padding-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}